
*{box-sizing:border-box;}
body
{
	background-color: #1F252A;
	
}
.gdiv 
{
    min-width: 100px;
    min-height: 50px;
    margin: 1px;
    background-color:  #1F252A;
    float: right;
    display: inline-block;
}
.kafelki_glowne
{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    margin: 5px;
    background-color:  #1F252A;
    float: right;
    display: block;
    text-align:center; 
    color:  #77A8C2;
    border-radius: 20px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #77A8C2;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #77A8C2;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #77A8C2;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #77A8C2;
    cursor:pointer;
}
.kafelki_glowne:hover {   
   border-top-color: #D20019;
        border-bottom-color: #D20019;
        border-left-color: #D20019;
        border-right-color: #D20019; 
        color: red;
}
.a {
    display: block;
}


#divzk {
    width: 100px;
    min-height: 50px;
    background-color: #77A8C2;
    float: right;
}
.kaf
{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    margin: 5px;
    background-color: #77A8C2;
    float: right;
    display: inline-block;
    text-align:center; 
    border-radius: 5px;
    color: #1F252A;
    display: block;
    cursor: pointer;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #1F252A;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #1F252A;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #1F252A;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #1F252A;
    cursor:pointer;
}
.kaf:hover{
        border-top-color: #D20019;
        border-bottom-color: #D20019;
        border-left-color: #D20019;
        border-right-color: #D20019; 
        color: red;
    }
